.btn {
    grid-column: 1;
    grid-row: 4;
    width: 130px;
    border: none;
    padding: 13px;
    font-family: $base-font;
    font-size: $medium-font;
    background-color: $secondary-colour;
    color: $text-light;
    font-style: normal;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid $secondary-colour;
    text-decoration: none;
}

.btn:hover {
    background-color: $tertiary-colour;
    border: 1px solid $secondary-colour;
    color: $text-dark;
}

.btn:active {
    background-color: white;
    color: $text-dark;
}