.btn {
    grid-column: 1;
    grid-row: 4;
    width: 110px;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: $highlight-dark;
    text-align: center;
    font-family: $base-font;
    font-size: $small-font;
    font-style: normal;
    text-decoration: none;
    color: $text-light;
}

.btn:hover {
    background-color: $highlight-light;
    border: 1px solid $secondary-colour;
    color: $text-dark;
}

.btn:active {
    background-color: white;
    color: $text-dark;
}