.btn {
    display: flex;
    flex-grow: 1;
    max-height: 50px;
    width: 200px;
    border: none;
    padding: 15px;
    font-family: $base-font;
    font-size: $medium-font;
    background-color:white;
    color: black;
    font-style: normal;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn:active {
    background-color: white;
    color: black;
}