@import '../partials/partial.scss';
@import '../partials/parallax.scss';
@import '../blocks/header/header.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/block/block.scss';
@import '../blocks/section/section.scss';
@import '../blocks/button/button.scss';


html {
    font-size: 12px;
    background-color: white;
}
body {
    margin: 0;
}