.block {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 130px 1fr 50px;
    padding: 2rem;
    border-radius: 5px;
    color: $text-dark;
}

.block__header {
    grid-column: 1 / span 3 ;
    border-bottom: 1px solid $text-dark;
    padding-bottom: 8px;
    text-align: left;
    font-family: $serif-font;
    font-size: $large-font;
    font-style: normal;
}

.block__copy {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    margin-top: 0;
    padding-right: 4rem;
    font-family: $base-font;
    font-size: $medium-font;
    font-style: normal;
    color: $text-dark;
}

.block__image {
    grid-column: span 2;
    border-radius: 5%;
    height: 150px;
    width: 150px;
}

.block--primary {
}

@media (min-width: 500px) { // Desktop
    .block-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: minmax(300px, auto);
        grid-gap: 20px;
        max-width: 1000px;
        margin: auto auto 0;
        padding: 0 4rem 4rem;
    }
}

@media (max-width: 499px) { // Mobile
    .block-container {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: minmax(300px, auto);
        margin: auto auto 0;
        padding: 0 0 4rem;
    }

    .block__image {
        grid-column: span 2;
        border-radius: 5%;
        height: 100px;
        width: 100px;
    }
}
