.block-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto auto 0;
    padding: 0 4rem 4rem;

    @include for-phone-only {
        grid-template-columns: auto;
        padding: 0 0 4rem;
    }
}

.block {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 130px 1fr 50px;
    padding: 2rem;
    color: $text-dark;
    background-color: $tertiary-colour;
}

.block__header {
    grid-column: 1 / span 3 ;
    padding-left: 8px;
    border-left: 5px solid $highlight-dark;
    text-align: left;
    font-family: $serif-font;
    font-size: $large-font;
    font-style: normal;
}

.block__copy {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    margin-top: 0;
    padding-right: 4rem;
    font-family: $base-font;
    font-size: $medium-font;
    font-style: normal;
    color: $text-dark;
}

.block__image {
    grid-column: span 2;
    border-radius: 5%;
    height: 150px;
    width: 150px;

    @include for-phone-only {
        height: 100px;
        width: 100px;
    }
}

.block--primary {
}
