// Fonts
$serif-font: 'Libre Baskerville', serif;
$base-font: 'Roboto', sans-serif;

// Font Weights
$small-font: 1rem;
$medium-font: 1.2rem;
$large-font: 2rem;
$display-font: 3rem;

// Colours
$primary-colour: #444444;
$secondary-colour: #828282;
$tertiary-colour: #D8D8D8;
$text-light: #F4F4F4;
$text-dark: #000000;