@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display');
// Fonts
$serif-font: 'Playfair Display', serif;
$base-font: 'Open Sans', sans-serif;

// Font Weights
$small-font: 16px;
$medium-font: 19px;
$large-font: 30px;
$display-font: 3rem;

// Colours
$primary-colour: #0d0a0b;
$secondary-colour: #454955;
//$tertiary-colour: #D8D8D8;
$tertiary-colour: #f2f2f2;
$highlight-light: #72b01d;
$highlight-dark: #3F7d20;
$text-light: #F3eff5;
$text-dark: #000000;

// Breakpoints
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}