/* Style */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto');

body {
    margin: 0;
}

header {
    text-align: center;
    padding: 15rem 0;
    font-family: 'Libre Baskerville', serif;
} 

/********************** Section ************************/

.section-title {
    display: inline-block;
    margin-left: 1em;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
}

/********************** Block ************************/

.block {
    display: inline-grid;
    padding: 2rem;
    min-height: 25rem;
    text-align: center;
    color: white;
}

.block__header {
    font-family: 'Libre Baskerville', sans-serif;
    font-style: normal;
    font-size: 2rem;
}

.block__copy {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.block__link {
    font-size: 1.5rem;
}

.block--simon {
    background-color: slateblue;
}

.block--twitch {
    background-color:grey;
}

.block--recipe {
    background-color: lightcoral;
}
@media (min-width: 500px) { // Desktop
    .block-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: minmax(300px, auto);
        max-width: 1200px;
        margin: auto auto 0;
        padding: 4rem  4rem 0;
    }

    .block--double {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}


@media (max-width: 499px) { // Mobile
    .block-container {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: minmax(300px, auto);
        margin: auto auto 0;
    }

    .block--double {
        display: inline-grid;
        min-height: 25rem;
        text-align: center;
        padding-top: 2rem;
        color: white;
    }
}

/********************** Footer ************************/

@media (min-width: 500px) { // Desktop
    .footer-style {
        padding: 0 4rem;
    }
}

.footer-text {
    margin: 0;
    padding: 2rem;
    background-color: darkblue;
    color: white;
}