/* Style */
header {
    text-align: center;
    padding: 15rem 0;
} 

.footer-text {
    margin: 0;
    padding: 2rem;
    background-color: darkblue;
    color: white;
}

@media (min-width: 500px) { // Desktop
    .block-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: minmax(300px, auto);
        max-width: 1200px;
        margin: auto auto 0;
        padding: 4rem  4rem 0;
    }

    .block-single {
        display: inline-grid;
        min-height: 25rem;
        text-align: center;
        padding-top: 2rem;
        color: white;
    }

    .block-double {
        display: inline-grid;
        min-height: 25rem;
        text-align: center;
        padding-top: 2rem;
        color: white;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .footer-style {
        padding: 0 4rem;
    }
}

@media (max-width: 499px) { // Mobile
    h1 {
        color: red;
    }
    .block-container {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: minmax(300px, auto);
        margin: auto auto 0;
    }

    .block-single {
        display: inline-grid;
        min-height: 25rem;
        text-align: center;
        padding-top: 2rem;
        color: white;
    }

    .block-double {
        display: inline-grid;
        min-height: 25rem;
        text-align: center;
        padding-top: 2rem;
        color: white;
    }
}

.block--simon {
    background-color: slateblue;
}

.block--twitch {
    background-color:grey;
}

.block--recipe {
    background-color: lightcoral;
}
