@media (min-width: 500px) { // Desktop
    .footer-style {
        padding: 0 4rem;
        margin: auto auto 0;
        max-width: 1200px;
    }
}

.footer-text {
    margin: 0;
    padding: 2rem;
    background-color: $secondary-colour;
    font-family: $base-font;
    font-size: $small-font;
    color: $text-light;
}