.footer-style {
    @include for-phone-only {
        margin-left: 1rem;
    }
    @include for-tablet-portrait-up {
        padding: 0 4rem;
        margin: auto auto 0;
        max-width: 1000px;
    }
}

.footer-text {
    margin: 0 0 3em;
    font-family: $base-font;
    font-size: $small-font;
    color: $text-dark;
}