.section-title {
    display: inline-block;
    font-family: $serif-font;
    font-size: $display-font;
    color: $text-dark;
}
@media (min-width: 500px) { // Desktop
    margin: auto auto 0;
    padding: 4rem  4rem 0;
}
@media (max-width: 499px) { // Mobile
    margin: auto auto 0;
    padding: 4rem  4rem 0;
}