.section-container {
    margin: auto 4rem 3rem;
    background-color: $highlight-dark;
}

.section-container__title {
    margin: auto auto 0 1rem;
    background-color: white;
    display: inline-block;
    font-family: $serif-font;
    font-size: $display-font;
    color: $text-dark;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 499px) { // Mobile
    .section-container {
        margin: auto 0 3rem;
        background-color: $highlight-dark;
    }
}