.section-container {
    max-width: 1000px;
    margin: auto auto 0;
    padding: 0 4rem 3rem;
}

.section-container__title {
    display: inline-block;
    font-family: $serif-font;
    font-size: $display-font;
    color: $text-dark;
    border-left: 3px solid $highlight-dark;
    padding-left: 10px;
    opacity: 0.8;
}
@media (min-width: 500px) { // Desktop
    .section-container__title {
        margin: auto auto 0 3rem;
    }
}
@media (max-width: 499px) { // Mobile
    .section-container__title {
        margin: auto auto 0;
    }
}