header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 1.5em;
    font-family: $serif-font;
} 

.header__name {
    text-align: center;
    opacity: 0.8;
}

.header__title {
    text-align: center;
    opacity: 0.8;
}

.header__name__copy {
    font-family: $serif-font;
    font-size: $large-font;
    color: $text-dark;
    margin-bottom: 0px;
}

.header__title__copy {
    font-size: $display-font;
    color: $text-dark;
}